/*General elements*/
* body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(135deg, #F1EDE6, #D1C7BD);
}

/* Fonts: font-family: 'DM Sans', sans-serif; font-family: 'Archivo Black', sans-serif; */


/* Default styles for all screen sizes */
/* Color palette: #faf6f0 #f4dfc8 #000000 #8c6655 */

/* Small phones (up to 576px) */
@media only screen and (max-width: 576px) {

    * main {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeIcon {
        position: absolute;
        left: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
    }

    .realTime {
        position: absolute;
        left: 65px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        font-size: 6vw;
        font-weight: bold;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(203, 173, 141, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 15vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
    }

    .contTitle {
        font-weight: bold;
        font-size: 8vw;
    }

    .contentDisplay {
    }

    .contentGroup {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: 4vh;
    }


    .embed {
        width: 80vw;
        height: 0;
        padding-bottom: 55%;

        position: relative;
    }

    * iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .contentDesc {
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
    }

    .contentTitle {
        font-size: 4vw;
        font-weight: bold;
    }

    .contentAtt {
        font-size: 4vw;
    }

    .textMore {
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tmLink {

    }
}

/* Tablets/iPads (577px to 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    * main {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeIcon {
        position: absolute;
        left: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
    }

    .realTime {
        position: absolute;
        left: 85px;
        top: 25px;
        text-align: center;
        line-height: 50px;
        font-size: 6vw;
        font-weight: bold;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(203, 173, 141, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 12vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
    }

    .contTitle {
        font-weight: bold;
        font-size: 8vw;
    }

    .contentDisplay {
    }

    .contentGroup {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: 4vh;
        width: 80vw;
    }

    .embed {
        width: 80vw;
        height: 0;
        padding-bottom: 55%;

        position: relative;
    }

    * iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .contentDesc {
        margin-top: 1vh;
        display: flex;
        justify-content: space-between;
    }

    .contentTitle {
        font-size: 4vw;
        font-weight: bold;
    }

    .contentAtt {
        font-size: 4vw;
    }

    .textMore {
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tmLink {

    }
}

/* Bigger phones (769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

    * main {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .timeIcon {
        position: absolute;
        left: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
    }

    .realTime {
        position: absolute;
        left: 85px;
        top: 25px;
        text-align: center;
        line-height: 50px;
        font-size: 6vw;
        font-weight: bold;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(203, 173, 141, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 12vw;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
    }

    .contTitle {
        font-weight: bold;
        font-size: 8vw;
    }

    .contentDisplay {
    }

    .contentGroup {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: 4vh;
        width: 80vw;
    }

    .embed {
        width: 80vw;
        height: 0;
        padding-bottom: 55%;

        position: relative;
    }

    * iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .contentDesc {
        margin-top: 1vh;
        display: flex;
        justify-content: space-between;
    }

    .contentTitle {
        font-size: 4vw;
        font-weight: bold;
    }

    .contentAtt {
        font-size: 4vw;
    }

    .textMore {
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tmLink {

    }
}


/* Desktops (993px and above) */
@media only screen and (min-width: 993px) {
    * main {
        width: 100%;
        overflow: hidden;
        margin-top: 0;
    }

    .timeIcon {
        position: absolute;
        left: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 3vw;
    }

    .realTime {
        position: absolute;
        left: 80px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        font-size: 2vw;
        font-weight: bold;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 25px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 3vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(203, 173, 141, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        overflow: hidden;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 5vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
    }

    .contTitle {
        font-weight: bold;
        font-size: 4vw;
    }

    .contentDisplay {
        width: 95vw;
    }

    .contentGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .content {
        margin-top: 4vh;
        width: 40vw;
    }

    .embed {
        width: 40vw;
        height: 0;
        padding-bottom: 55%;

        position: relative;
    }

    * iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .contentDesc {
        margin-top: 1vh;
        display: flex;
        justify-content: space-between;
    }

    .contentTitle {
        font-size: 2vw;
        font-weight: bold;
    }

    .contentAtt {
        font-size: 2vw;
    }

    .textMore {
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 1.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tmLink {

    }
}