/*General elements*/
* body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(135deg, #FCFCFD, #E8ECEF);
}

/* Small phones (up to 576px) */
@media only screen and (max-width: 576px) {

    * main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(232,236,239, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 15vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
        width: 100%;
    }

    .contTitle {
        font-weight: bold;
        font-size: 8vw;
        margin-bottom: 4vh;
    }

    .skillCard {
        width: 80%;
        height: 60vh;
        background-color: black;
        border-radius: 15px;
    }


}

/* Tablets/iPads (577px to 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    * main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(232,236,239, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 12vw;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
        width: 100%;
    }

    .contTitle {
        font-weight: bold;
        font-size: 8vw;
        margin-bottom: 4vh;
    }

    .skillCard {
        width: 50%;
        height: 60vh;
        background-color: black;
        border-radius: 15px;
    }
}

/* Bigger phones (769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

    * main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 8vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(232,236,239, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 12vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
        width: 100%;
    }

    .contTitle {
        font-weight: bold;
        font-size: 8vw;
        margin-bottom: 4vh;
    }

    .skillCard {
        width: 50%;
        height: 60vh;
        background-color: black;
        border-radius: 15px;
    }
}

/* Desktops (993px and above) */
@media only screen and (min-width: 993px) {
    * main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin-top: 0;
    }

    .menuButton {
        z-index: 2;
        position: absolute;
        right: 25px;
        top: 20px;
        text-align: center;
        line-height: 50px;
        width: 50px;
        font-size: 3vw;
        cursor: pointer;
    }

    .check {
        display: none;
    }

    #active:checked ~ .navScreen {
        clip-path: circle(75%);
        background: rgba(232,236,239, 0.23);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    #active:checked ~ .menuButton {

    }

    #active:checked ~ .menuButton i:before {
        content: "\f00d";
    }

    .navScreen {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        overflow: hidden;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }

    .menu {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menuItem {
        padding: 10px;
    }

    .menuItemText {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 5vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
        width: 100%;
    }

    .cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contTitle {
        font-weight: bold;
        font-size: 4vw;
        margin-bottom: 4vh;
    }

    .skillCard {
        margin-left: 45px;
        margin-right: 45px;
        width: 20%;
        height: 70vh;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .scTop {
        height: 40%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topImage {
        width: 100%;
        height: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .scTitle {
        color: white;
        font-size: 2vw;
        font-weight: bold;
        position: absolute;
    }

    .scBottom {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .scDesc {
        text-align: center;
        font-size: 1.1vw;

    }

    .ltCover {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lineText {
        border-bottom: 2px solid black;
        width: 60%;
    }

    .scSkills {
        text-align: center;
        font-size: 1.1vw;
    }

    .scsBold {
        font-weight: bold;
    }

}